.profile {
  background-color: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.description {
  margin-top: 40px;
  padding-top: 50px;
  width: 640px;
  background-color: whitesmoke;
  padding-bottom: 0;
  color: grey;
}
.avatar {
  width: 300px;
  border-radius: 50%;
  outline: solid 1px black;
}
.stats {
  margin-top: 0;
  padding: 0;
  width: 640px;
  height: 200px;
  background-color: lightgrey;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.label {
  display: block;
  color: grey;
}
